@font-face { 
	font-family: Geogrotesque; 
	font-weight: 400;
	src: url('fonts/Geogrotesque/Geo-Rg.otf'); 
}
@font-face { 
	font-family: Geogrotesque; 
	font-weight: 400;
	font-style: italic;
	src: url('fonts/Geogrotesque/Geo-RgIt.otf'); 
}
@font-face { 
	font-family: Geogrotesque; 
	font-weight: 500;
	src: url('fonts/Geogrotesque/Geo-Md.otf'); 
}
@font-face { 
	font-family: Geogrotesque; 
	font-weight: 500;
	font-style: italic;
	src: url('fonts/Geogrotesque/Geo-MdIt.otf'); 
}
@font-face { 
	font-family: Geogrotesque; 
	font-weight: 600;
	src: url('fonts/Geogrotesque/Geo-Sb.otf'); 
}
@font-face { 
	font-family: Geogrotesque; 
	font-weight: 600;
	font-style: italic;
	src: url('fonts/Geogrotesque/Geo-SbIt.otf'); 
}

body {
  font-family: Geogrotesque;
}

.container-fluid {
    padding: 0px;
}

#breadcrumb {
    margin-top: 10px;
}

#main-content #searchInfoRow #customiseFacetsButton > .dropdown-menu {
    background-color: #ffffff;
}

#content .nav-tabs > li.active > a {
    background-color: #ffffff;
}

body > #main-content {
    margin-top: 0px;
}


#main-content #customiseFacetsButton > .dropdown-menu,
#main-content #resultsReturned .dropdown-menu {
    background-color: #fff;
}

/* centra el div principal y lo ajusta al ancho del header*/
#main-content {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* logo del SNDB */
#mincyt_header {
  height: 180px;
  width: 990px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
   
/* pie de página del SNDB */
#pie {
  text-align: center;
  height: 50px;
  background-image: url(../images/footer.jpg);
  width: 990px;
  margin-right: auto;
  margin-left: auto;
}


/* estilos sndb */
h1 {
	font-family: Calibri;
	font-size: 24px;
	font-weight: bold;
	color: #105C99;
	text-decoration: none;
	line-height: 24px;
	text-align: left;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

h2 {
	font-family: Calibri;
	font-size: 18px;
	font-weight: bold;
	color: #105C99;
	text-decoration: none;
	text-align: left;	
	line-height: 18px;
}

h3 { 
	color:#093c67;
	font: bold 14px Calibri; 
	margin: 0 0 3px 0;
}

h3 a:link{
	color: #093c67;
	text-decoration: none;
}

h3 a:hover{
	text-decoration: underline;
}

h3 a:visited{
	color: #093c67;
}

h4 {
	color: #105C99;
	text-transform: uppercase;
	padding: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #3C6A9C;
	border-bottom-color: #3C6A9C;
	border-top-style: none;
	font-family: Calibri;
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 10px;
}

h5 {
	font-family: Calibri;
	font-size: 16px;
	font-weight: bold;
	color: #0077A4;
	line-height: 28px;
}

h5 a:link{
	color: #0077A4;	
	text-decoration: none;
}

h5 a:visited{
	color: #999999;
}

h5 a:hover{
	color: #0077A4;
	text-decoration: underline;
}
.texto-home{
	font-family:Calibri;
	font-size: 12px;
	color: #4D4D4D;
}

hr {
	width: 600;
	noshade: noshade;
	background-color: #105C99;
	margin-top: 10px;
	height: 2px;
}

bullet  {
	margin-left: 10px;
	list-style-position: inside;
	list-style-type: circle;
	text-indent: 10px;
	list-style-image: url(../images/bola.gif);
}

p a:link{
	color: #00B1A6;
	text-decoration: none;
}

p a:visited{
	color: #00B1A6;
}

p a:hover{
	color: #00B1A6;
	text-decoration: underline;
}

p2 {
	font-family: Calibri;
	font-size: 18px;
	font-weight: bold;
	color: #0077A4;
	text-decoration: none;
}

p2 a:link{
	color: #0077A4;
	text-decoration: none;
}

p2 a:visited{
	color: #0077A4;
}

p2 a:hover{
	color: #999999;
	text-decoration: underline;
}

p3 {
	font-family: Calibri;
	font-size: 24px;
	font-weight: bold;
	color: #0077A4;
	text-decoration: none;
}
p3 a:link{
	color: #0077A4;
	text-decoration: none;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  font-size: 1.5em;
  font-weight: 500;
}

.navbar .navbar-inner {
    text-align: center;
}
.navbar .navbar-inner .nav {
    float: none;
    display:inline-block;
}

#header_logos_row {
  height:11.8em;
}

#header_logos {
  width: 74.875em;
}

#header_navbar {
  height: 3.375em;
  background-color: #000;
}

#footer_logos {
  height: 12.5em;
  background: url("../images/background_logos.png");
}

#footer_nav {
  height: 17.0em;
  background: #008BC0;
  padding: 1em 1em 1em 1em;
}

.white, .white a {
  color: #fff;
}


#disclaimer-box {
	background-image: url('../images/icono_advertencia.png');
	background-repeat: no-repeat;
	background-color:#027BA0;
	color: #ffffff;
	font-size: 1.2em;
	line-height: 1.3em;
	padding: 1.8em 1.8em 1.8em 1.8em;
	text-align: justify;
}

#contact-box {
	color: #ffffff;
	font-size: 1.1em;
	line-height: 1.3em;
	padding: 1.0em 1.8em 1.0em 1.8em;
	text-align: justify;
}

#navigation-box {
	color: #ffffff;
	font-size: 1.1em;
	line-height: 2.5em;
	padding: 1.8em 1.8em 1.8em 1.8em;
	text-align: justify;
}

#navigation-box > ul > li {
	height: 2.5em;
}
